html, body {
  margin: 0;
}

header {
  font: 36px 'Orbitron', sans-serif;
  margin: 15px auto;
}

p {
  text-align: left;
}

.buttons {
  display: block;
  margin: 0 auto;
}

.incrementDisplay {
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  vertical-align: bottom;
  width: 100px;
}

.numberSelect {
  font-size: 24px;
  line-height: 40px;
}

.numberSelect:not(:first-of-type) {
  margin-left: 10px;
}

#combinations {
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}
